$ffMontserrat: 'Montserrat', sans-serif;
$VeryLightGrayishBlue: hsl(240, 78%, 98%);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);
$gradientLeft: hsl(236, 72%, 79%);
$gradientRight: hsl(237, 63%, 64%);
$gradientBtns: linear-gradient(90deg, $gradientLeft, $gradientRight);